Repository yairfalse/tapio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

.pre-commit-config.yaml:

# ==========================================
# Tapio Pre-commit Configuration
# ==========================================

repos:
  # Go formatting and imports
  - repo: local
    hooks:
      - id: go-fmt
        name: Format Go code
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Tidy Go modules
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-vet
        name: Go vet
        entry: go vet
        language: system
        files: \.go$
        args: [./...]
        pass_filenames: false

      - id: golangci-lint
        name: Run golangci-lint
        entry: golangci-lint run
        language: system
        files: \.go$
        args: [--timeout=5m, --fix]
        pass_filenames: false

  # Security checks
  - repo: local
    hooks:
      - id: gosec
        name: Security scan with gosec
        entry: gosec
        language: system
        files: \.go$
        args: [-nosec-tag=notsafe, ./...]
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: mixed-line-ending

  # Markdown and documentation
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--disable, MD013, MD033, MD041, --]

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: \.lock$

# Global settings
default_stages: [commit]
minimum_pre_commit_version: "3.0.0"

# Skip specific files
exclude: |
  (?x)^(
    vendor/|
    \.git/|
    bin/|
    dist/|
    build/|
    .*\.pb\.go$|
    .*_generated\.go$
  )$

fix(ci): simplify CI workflow for reliable builds
  .github/workflows/ci.yml
  .github/workflows/quality-ci.yml
  .github/workflows/smart-ci.yml
  Makefile.core
  Makefile.original
  Makefile.working
Due: none

feat: Complete semantic correlation integration
  cmd/tapio-collector/main.go
  go.mod
  go.sum
  pkg/collector/correlation_interface.go
  pkg/collector/ebpf_collector.go.disabled
  pkg/collector/manager.go
  pkg/collector/semantic_correlation_engine.go
  pkg/collectors/ebpf/go.mod
  pkg/collectors/ebpf/go.sum
  pkg/collectors/k8s/go.mod
  pkg/collectors/k8s/go.sum
  pkg/config/config.go
  pkg/config/templates.go
  pkg/correlation/go.mod
  pkg/dataflow/example.go
  pkg/dataflow/integration.go
  pkg/dataflow/manager.go
  pkg/dataflow/server_bridge.go
  pkg/intelligence/correlation/go.mod
  pkg/intelligence/correlation/go.sum
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

Update README.md
  README.md
Due: none

feat: Add human output module
  Claude.md
  pkg/humanoutput/README.md
  pkg/humanoutput/examples/basic/main.go
  pkg/humanoutput/examples/basic/main.go.broken
  pkg/humanoutput/generator.go
  pkg/humanoutput/generator_test.go
  pkg/humanoutput/go.mod
  pkg/humanoutput/interfaces.go
  pkg/humanoutput/templates.go
  pkg/humanoutput/types.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

feat: Infrastructure cleanup and standardization
  .gitignore
  build/docker/Makefile
  build/docker/base-alpine.Dockerfile
  build/docker/base-debian.Dockerfile
  build/docker/example.Dockerfile
  build/docker/runtime-alpine.Dockerfile
  pkg/health/README.md
  pkg/health/checkers.go
  pkg/health/example_test.go
  pkg/health/health.go
Due: go-fmt, go-vet, golangci-lint, gosec

chore: Remove unused pkg/engine/interfaces.go
  pkg/engine/interfaces.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: Clean up root directory - organize documentation
  docs/analysis/CLEANUP_ACTION_PLAN.md
  docs/analysis/HEALTH_METRICS_ANALYSIS.md
  docs/analysis/INFRASTRUCTURE_CLEANUP_REPORT.md
  docs/archive/BUILD_ERRORS_AUDIT.md
  docs/archive/BUILD_FIX_PROGRESS.md
  docs/archive/BUILD_FIX_SUMMARY.md
  docs/archive/BUILD_STATUS_SUMMARY.md
  docs/archive/BUILD_SYSTEM_ANALYSIS.md
  docs/archive/BUILD_SYSTEM_FIX_SUMMARY.md
  docs/archive/CI_IMPLEMENTATION_SUMMARY.md
  docs/archive/CLEANUP_COMPLETED.md
  docs/archive/CREATE_PR_COMMAND.md
  docs/archive/DECOUPLING_PLAN.md
  docs/archive/MODULAR_BUILD_PLAN.md
  docs/archive/MODULAR_BUILD_SUCCESS.md
  docs/archive/PR_READY.md
  docs/archive/REPOSITORY_AUDIT.md
  docs/archive/REST_API_IMPLEMENTATION.md
  docs/archive/ROOT_CLEANUP_ANALYSIS.md
  docs/archive/ROOT_CLEANUP_SUMMARY.md
  docs/archive/test-formatter.md
  scripts/format.sh
  scripts/test-modular-builds.sh
  scripts/test_rest_integration.sh
Due: none

cleanup: Remove old unused correlation engine files
  SEMANTIC_CORRELATION_FEATURES.md
  examples/semantic-correlation/demo_human_output.go
  examples/semantic-correlation/demo_integration.go
  examples/semantic-correlation/demo_semantic_otel.go
  examples/semantic-correlation/showcase_all_features.go
  examples/semantic-correlation/simple_demo.go
  examples/semantic-correlation/working_demo.go
  pkg/collectors/integration/HUMAN_OUTPUT_README.md
  pkg/collectors/integration/PREDICTIVE_METRICS.md
  pkg/collectors/integration/PREDICTIVE_METRICS_DEMO.md
  pkg/collectors/integration/SEMANTIC_OTEL_TRACE_DEMO.md
  pkg/collectors/integration/correlation_engine.go
  pkg/collectors/integration/correlation_interface.go
  pkg/collectors/integration/human_output_example.go
  pkg/collectors/integration/semantic_correlation_engine.go
  pkg/integrations/core/errors.go
  pkg/integrations/core/interfaces.go
  pkg/integrations/core/types.go
  pkg/integrations/go.mod
  pkg/integrations/otel/README.md
  pkg/integrations/otel/core/interfaces.go
  pkg/integrations/otel/go.mod
  pkg/integrations/registry.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

docs: add mandatory formatting requirements to Claude.md
  Claude.md
Due: none

backup: Save state before single module migration
  pkg/collectors/ebpf/examples/basic/main.go
  pkg/collectors/k8s/cmd/collector/main.go
  pkg/collectors/systemd/cmd/collector/main.go
  pkg/intelligence/correlation/go.sum
  pkg/intelligence/correlation/types.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec
