Repository yairfalse/tapio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

.pre-commit-config.yaml:

# ==========================================
# Tapio Pre-commit Configuration
# ==========================================

repos:
  # Go formatting and imports
  - repo: local
    hooks:
      - id: go-fmt
        name: Format Go code
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Tidy Go modules
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-vet
        name: Go vet
        entry: go vet
        language: system
        files: \.go$
        args: [./...]
        pass_filenames: false

      - id: golangci-lint
        name: Run golangci-lint
        entry: golangci-lint run
        language: system
        files: \.go$
        args: [--timeout=5m, --fix]
        pass_filenames: false

  # Security checks
  - repo: local
    hooks:
      - id: gosec
        name: Security scan with gosec
        entry: gosec
        language: system
        files: \.go$
        args: [-nosec-tag=notsafe, ./...]
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: mixed-line-ending

  # Markdown and documentation
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--disable, MD013, MD033, MD041, --]

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: \.lock$

# Global settings
default_stages: [commit]
minimum_pre_commit_version: "3.0.0"

# Skip specific files
exclude: |
  (?x)^(
    vendor/|
    \.git/|
    bin/|
    dist/|
    build/|
    .*\.pb\.go$|
    .*_generated\.go$
  )$

feat: comprehensive Linux eBPF collector with MapManager and PerfEventManager (#165)
  .gitignore
  README.md
  go.mod
  go.sum
  pkg/collectors/cni/core/interfaces.go
  pkg/collectors/cni/internal/collector.go
  pkg/collectors/ebpf/COLIMA_TESTING.md
  pkg/collectors/ebpf/internal/benchmark_test.go
  pkg/collectors/ebpf/internal/collector_integration_test.go
  pkg/collectors/ebpf/internal/collector_prod_test.go
  pkg/collectors/ebpf/internal/map_manager_test.go
  pkg/collectors/ebpf/internal/perf_manager_test.go
  pkg/collectors/ebpf/internal/platform_linux.go
  pkg/collectors/ebpf/memory_tracker_bpfel_arm64.go
  pkg/collectors/ebpf/memory_tracker_bpfel_x86.go
  pkg/collectors/ebpf/memorytracker_bpfel_arm64.go
  pkg/collectors/ebpf/memorytracker_bpfel_arm64.o
  pkg/collectors/ebpf/memorytracker_bpfel_x86.go
  pkg/collectors/ebpf/memorytracker_bpfel_x86.o
  pkg/collectors/ebpf/network_monitor_bpfel_arm64.go
  pkg/collectors/ebpf/network_monitor_bpfel_x86.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

feat(cni): add production hardening and efficient monitoring
  go.mod
  pkg/collectors/cni/EFFICIENT_MONITORING.md
  pkg/collectors/cni/VERIFICATION.md
  pkg/collectors/cni/config_example.yaml
  pkg/collectors/cni/internal/backpressure.go
  pkg/collectors/cni/internal/circuitbreaker.go
  pkg/collectors/cni/internal/ebpf_monitor.go
  pkg/collectors/cni/internal/ebpf_monitor_stub.go
  pkg/collectors/cni/internal/file_monitor_inotify.go
  pkg/collectors/cni/internal/k8s_informer_monitor.go
  pkg/collectors/cni/internal/ratelimiter.go
  pkg/collectors/cni/internal/resource_monitor.go
  pkg/collectors/cni/presets.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

fix: format code with gofmt
  pkg/collectors/cni/internal/ebpf_monitor.go
  pkg/collectors/cni/internal/file_monitor_inotify.go
  pkg/collectors/cni/internal/k8s_informer_monitor.go
  pkg/collectors/cni/presets.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(cni): add production hardening and efficient monitoring (#167)
  go.mod
  pkg/collectors/cni/EFFICIENT_MONITORING.md
  pkg/collectors/cni/VERIFICATION.md
  pkg/collectors/cni/config_example.yaml
  pkg/collectors/cni/internal/backpressure.go
  pkg/collectors/cni/internal/circuitbreaker.go
  pkg/collectors/cni/internal/ebpf_monitor.go
  pkg/collectors/cni/internal/ebpf_monitor_stub.go
  pkg/collectors/cni/internal/file_monitor_inotify.go
  pkg/collectors/cni/internal/k8s_informer_monitor.go
  pkg/collectors/cni/internal/ratelimiter.go
  pkg/collectors/cni/internal/resource_monitor.go
  pkg/collectors/cni/presets.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

feat: add high-performance intelligence adapters with production hardening
  pkg/intelligence/adapters/optimized_event_processor.go
  pkg/intelligence/adapters/optimized_event_processor_test.go
  pkg/intelligence/adapters/performance_adapter.go
  pkg/intelligence/adapters/performance_adapter_test.go
  pkg/intelligence/adapters/production_hardening_adapter.go
  pkg/intelligence/adapters/production_hardening_adapter_test.go
  pkg/intelligence/hardening/circuitbreaker.go
  pkg/intelligence/hardening/circuitbreaker_test.go
  pkg/intelligence/hardening/ratelimiter.go
  pkg/intelligence/hardening/ratelimiter_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: add high-performance intelligence adapters with production hardening (#168)
  pkg/intelligence/adapters/optimized_event_processor.go
  pkg/intelligence/adapters/optimized_event_processor_test.go
  pkg/intelligence/adapters/performance_adapter.go
  pkg/intelligence/adapters/performance_adapter_test.go
  pkg/intelligence/adapters/production_hardening_adapter.go
  pkg/intelligence/adapters/production_hardening_adapter_test.go
  pkg/intelligence/hardening/circuitbreaker.go
  pkg/intelligence/hardening/circuitbreaker_test.go
  pkg/intelligence/hardening/ratelimiter.go
  pkg/intelligence/hardening/ratelimiter_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

Feat/k8s advanced collector (#169)
  pkg/collectors/ebpf/memorytracker_bpfel_arm64.go
  pkg/collectors/ebpf/memorytracker_bpfel_arm64.o
  pkg/collectors/ebpf/memorytracker_bpfel_x86.go
  pkg/collectors/ebpf/memorytracker_bpfel_x86.o
  pkg/intelligence/correlation/conversion.go
Due: go-fmt, go-vet, golangci-lint, gosec

Update README.md
  README.md
Due: none

feat(ebpf): implement advanced eBPF features with CO-RE and BTF support
  pkg/collectors/ebpf/bpf/common.h
  pkg/collectors/ebpf/bpf/memory_core.bpf.c
  pkg/collectors/ebpf/bpf/memory_tracker.c
  pkg/collectors/ebpf/bpf/network_btf.bpf.c
  pkg/collectors/ebpf/bpf/network_core.bpf.c
  pkg/collectors/ebpf/bpf/xdp_monitor.bpf.c
  pkg/collectors/ebpf/core/bpf_loader.go
  pkg/collectors/ebpf/core/program_manager.go
  pkg/collectors/ebpf/generate.go
  pkg/collectors/ebpf/types.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(ebpf): implement advanced eBPF features with CO-RE and BTF support (#170)
  pkg/collectors/ebpf/bpf/common.h
  pkg/collectors/ebpf/bpf/memory_core.bpf.c
  pkg/collectors/ebpf/bpf/memory_tracker.c
  pkg/collectors/ebpf/bpf/network_btf.bpf.c
  pkg/collectors/ebpf/bpf/network_core.bpf.c
  pkg/collectors/ebpf/bpf/xdp_monitor.bpf.c
  pkg/collectors/ebpf/core/bpf_loader.go
  pkg/collectors/ebpf/core/program_manager.go
  pkg/collectors/ebpf/generate.go
  pkg/collectors/ebpf/types.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: add production hardening components for systemd collector
  pkg/collectors/systemd/internal/backpressure.go
  pkg/collectors/systemd/internal/circuitbreaker.go
  pkg/collectors/systemd/internal/connection_pool.go
  pkg/collectors/systemd/internal/ratelimiter.go
  pkg/collectors/systemd/internal/resource_monitor.go
  pkg/collectors/systemd/internal/validator.go
Due: go-fmt, go-vet, golangci-lint, gosec

Feat/systemd production hardening (#171)
  pkg/collectors/systemd/internal/backpressure.go
  pkg/collectors/systemd/internal/circuitbreaker.go
  pkg/collectors/systemd/internal/connection_pool.go
  pkg/collectors/systemd/internal/ratelimiter.go
  pkg/collectors/systemd/internal/resource_monitor.go
  pkg/collectors/systemd/internal/validator.go
Due: go-fmt, go-vet, golangci-lint, gosec

refactor: remove business logic assumptions, focus on infrastructure intelligence
  README.md
  pkg/intelligence/analytics/engine/impact_assessment.go
  pkg/intelligence/context/impact.go
  pkg/intelligence/interfaces/context.go
Due: go-fmt, go-vet, golangci-lint, gosec

Remove business logic (#172)
  README.md
  pkg/intelligence/analytics/engine/impact_assessment.go
  pkg/intelligence/context/impact.go
  pkg/intelligence/interfaces/context.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: add minimal collector interface
  pkg/collectors/doc.go
  pkg/collectors/interface.go
  pkg/collectors/interface_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: strip business logic from eBPF collector
  pkg/collectors/ebpf/README_SIMPLE.md
  pkg/collectors/ebpf/collector.go
  pkg/collectors/ebpf/collector_simple.go
  pkg/collectors/ebpf/collector_simple_test.go
  pkg/collectors/ebpf/generate.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: add pluggable collector registry
  pkg/collectors/registry.go
  pkg/collectors/registry_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

Feat/collector registry (#173)
  pkg/collectors/doc.go
  pkg/collectors/interface.go
  pkg/collectors/interface_test.go
  pkg/collectors/registry.go
  pkg/collectors/registry_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

Feat/ebpf strip logic (#176)
  pkg/collectors/ebpf/README_SIMPLE.md
  pkg/collectors/ebpf/collector.go
  pkg/collectors/ebpf/collector_simple.go
  pkg/collectors/ebpf/collector_simple_test.go
  pkg/collectors/ebpf/generate.go
Due: go-fmt, go-vet, golangci-lint, gosec

cleanup: remove unused files and scripts
  Dockerfile
  Dockerfile.dev
  STUB_TRACKING.md
  docs_organization_summary.md
  scripts/README.md
  scripts/check-architecture.go
  scripts/check-coverage.go
  scripts/check-implementation-completeness.go
  scripts/check-module-independence.go
  scripts/check-type-safety.go
  scripts/dev-up.sh
  scripts/generate-proto.sh
  scripts/install-linux-enhanced.sh
  scripts/install.sh
  scripts/quick-start.sh
  scripts/systemd/install-services.sh
  scripts/test-install.sh
  test/blackbox/api/correlation_blackbox_test.go
  test/blackbox/collectors/k8s_blackbox_test.go
  test/blackbox/run_blackbox_tests.sh
Due: go-fmt, go-vet, golangci-lint, gosec
