Repository yairfalse/tapio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

go-fmt:
  name: Format Go code
  entry: make fmt
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Tidy Go modules
  entry: go mod tidy
  language: system
  pass_filenames: false

go-vet:
  name: Go vet
  entry: go vet
  language: system
  args:
  - ./...
  pass_filenames: false

golangci-lint:
  name: Run golangci-lint
  entry: golangci-lint run
  language: system
  args:
  - --timeout=5m
  - --fix
  pass_filenames: false

gosec:
  name: Security scan with gosec
  entry: gosec
  language: system
  args:
  - -nosec-tag=notsafe
  - ./...
  pass_filenames: false

feat(patterns): implement 6-pattern ML-based failure detection framework
  pkg/correlation/patterns/container_runtime.go
  pkg/correlation/patterns/framework.go
  pkg/correlation/patterns/memory_leak.go
  pkg/correlation/patterns/network_failure.go
  pkg/correlation/patterns/registry.go
  pkg/correlation/patterns/service_dependency.go
  pkg/correlation/patterns/storage_io.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(correlation): add advanced pattern integration and autofix capabilities
  pkg/correlation/autofix_engine.go
  pkg/correlation/otel_exporter.go
  pkg/correlation/pattern_integration.go
  pkg/correlation/patterns/validation.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(correlation): complete enterprise observability platform with testing & optimization
  pkg/correlation/optimization.go
  pkg/correlation/patterns/testing.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix(correlation): update OTEL exporter imports for latest OpenTelemetry SDK
  pkg/correlation/otel_exporter.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix(correlation): resolve import cycles and complete autofix engine implementation
  pkg/correlation/autofix_engine.go
  pkg/exports/otel/spans.go
  pkg/exports/otel/traces.go
  pkg/exports/prometheus/metrics.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix(correlation): add TODO markers for import cycle resolution
  pkg/correlation/engine_enhanced.go
  pkg/correlation/pattern_integration.go
  pkg/correlation/pattern_stubs.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(exports): implement complete export plugin system with OTEL and Prometheus integration
  config/exports.yaml
  examples/observability/README.md
  examples/observability/demo.go
  examples/observability/docker-compose.yml
  examples/observability/otel-collector-config.yml
  examples/observability/prometheus.yml
  go.mod
  pkg/exports/health.go
  pkg/exports/integration_test.go
  pkg/exports/interface.go
  pkg/exports/latency_test.go
  pkg/exports/manager.go
  pkg/exports/manager_test.go
  pkg/exports/otel/exporter.go
  pkg/exports/otel/traces_test.go
  pkg/exports/plugins/cli.go
  pkg/exports/plugins/otel.go
  pkg/exports/plugins/prometheus.go
  pkg/exports/prometheus/collectors.go
  pkg/exports/prometheus/exporter.go
  pkg/exports/prometheus/metrics_test.go
  pkg/exports/router.go
  pkg/exports/standalone_latency_test.go
  pkg/exports/worker.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

feat(correlation): add core foundation interfaces and eBPF CNI collectors
  pkg/correlation/core/interfaces.go
  pkg/correlation/foundation/data_types.go
  pkg/correlation/foundation/interfaces.go
  pkg/correlation/foundation/types.go
  pkg/correlation/interfaces.go
  pkg/correlation/types.go
  pkg/ebpf/collectors/cni/basic_test.go
  pkg/ebpf/collectors/cni/cni_plugins_test.go
  pkg/ebpf/collectors/cni/collector.go
  pkg/ebpf/collectors/cni/dns_monitor_test.go
  pkg/ebpf/collectors/cni/network_flows.go
  pkg/ebpf/collectors/cni/network_flows_test.go
  pkg/ebpf/collectors/cni/policy_monitor_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(resilience): implement Task 5.2 - comprehensive resilience & self-healing architecture
  pkg/resilience/emergency.go
  pkg/resilience/health.go
  pkg/resilience/testing.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(resilience): implement Task 5.2 - comprehensive resilience & self-healing architecture
  docs/operations/deployment-runbook.md
  docs/operations/incident-response.md
  docs/operations/maintenance-procedures.md
  docs/operations/monitoring-runbook.md
  docs/operations/performance-tuning.md
  pkg/security/auditor.go
  pkg/security/ratelimit.go
  pkg/testing/production.go
  pkg/testing/suites.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(production): add essential production readiness features for 7-day prototype
  .github/workflows/production-validation.yml
  config/testing/validation.yaml
  internal/cli/check_enhanced.go
  internal/cli/correlation_client.go
  pkg/collectors/journald/collector.go
  pkg/collectors/journald/container_events.go
  pkg/collectors/journald/filter.go
  pkg/collectors/journald/oom_detector.go
  pkg/collectors/journald/parser.go
  pkg/correlation/query_api.go
  pkg/logging/config.go
  pkg/logging/handlers.go
  pkg/logging/logger.go
  pkg/monitoring/metrics.go
  pkg/security/auth.go
  pkg/security/hardening.go
  pkg/testing/automation.go
  tests/validation/run-tests.sh
Due: go-fmt, go-vet, golangci-lint, gosec

feat(collectors): implement OPINIONATED journald collector with 95% noise reduction
  docs/collectors/journald.md
  pkg/collectors/journald/enricher.go
  pkg/collectors/journald/integration_test.go
  pkg/collectors/journald/types.go
  pkg/collectors/journald_collector.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(api): implement REST API server with deep L7 protocol visibility
  docs/api-map.md
  docs/api-server-connections.md
  docs/correlation-integration-demo.md
  go.mod
  go.sum
  internal/api/server.go
  pkg/ebpf/l7/collector.go
  pkg/ebpf/l7/grpc_parser.go
  pkg/ebpf/l7/http_parser.go
  pkg/ebpf/l7/kafka_parser.go
  test/integration/TEST_SUMMARY.md
  test/integration/api_basic_test.go
  test/integration/api_server_test.go
  test/integration/cli_integration_test.go
  test/integration/demo_test.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

feat: Connect API endpoints to real correlation engine
  cmd/tapio-server/main_enhanced.go
  docs/api-correlation-integration.md
  docs/cross-platform-support.md
  examples/api_test.sh
  go.mod
  go.sum
  internal/api/server_enhanced.go
  pkg/collectors/ebpf_adapter.go
  pkg/collectors/ebpf_factory.go
  pkg/collectors/factory.go
  pkg/collectors/interface.go
  pkg/collectors/journald/collector.go
  pkg/collectors/journald/collector_stub.go
  pkg/collectors/journald/container_events.go
  pkg/collectors/journald/enricher.go
  pkg/collectors/journald/integration_test.go
  pkg/collectors/journald/oom_detector.go
  pkg/collectors/journald/parser.go
  pkg/collectors/journald_collector.go
  pkg/collectors/platform.go
  pkg/collectors/platform_test.go
  pkg/collectors/types/types.go
  pkg/correlation/ai_stubs.go
  pkg/correlation/autofix_engine.go
  pkg/correlation/engine.go
  pkg/correlation/engine_with_store.go
  pkg/correlation/interfaces.go
  pkg/correlation/interfaces.go.bak
  pkg/correlation/interfaces_fixed.go
  pkg/correlation/optimization.go
  pkg/correlation/otel_exporter.go
  pkg/correlation/pattern_stubs.go.bak
  pkg/correlation/perfect_engine.go
  pkg/correlation/query_api.go
  pkg/correlation/rule.go
  pkg/correlation/types.go.bak
  pkg/ebpf/interface.go
  pkg/ebpf/monitor_stub.go
  pkg/resilience/stubs.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

feat(platform): add cross-platform build support for eBPF collectors
  build/Makefile.platform
  build/platform.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(correlations): implement markdown-to-correlation system with comprehensive safety protections
  internal/cli/correlations.go
  pkg/correlation/markdown/README.md
  pkg/correlation/markdown/crud_test.go
  pkg/correlation/markdown/examples/sample_correlations.md
  pkg/correlation/markdown/examples/sample_update.md
  pkg/correlation/markdown/parser.go
  pkg/correlation/markdown/parser_test.go
  pkg/correlation/markdown/translator.go
  pkg/correlation/semantic_rules.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(gui): implement native desktop GUI with Wails + Vue.js
  gui/tapio-gui/.gitignore
  gui/tapio-gui/README.md
  gui/tapio-gui/app.go
  gui/tapio-gui/frontend/README.md
  gui/tapio-gui/frontend/index.html
  gui/tapio-gui/frontend/package-lock.json
  gui/tapio-gui/frontend/package.json
  gui/tapio-gui/frontend/package.json.md5
  gui/tapio-gui/frontend/src/App.vue
  gui/tapio-gui/frontend/src/assets/fonts/OFL.txt
  gui/tapio-gui/frontend/src/assets/fonts/nunito-v16-latin-regular.woff2
  gui/tapio-gui/frontend/src/assets/images/logo-universal.png
  gui/tapio-gui/frontend/src/components/ClusterStatus.vue
  gui/tapio-gui/frontend/src/components/ParticleBackground.vue
  gui/tapio-gui/frontend/src/components/StoryCard.vue
  gui/tapio-gui/frontend/src/components/StoryList.vue
  gui/tapio-gui/frontend/src/components/TapioDashboard.vue
  gui/tapio-gui/frontend/src/main.ts
  gui/tapio-gui/frontend/src/style.css
  gui/tapio-gui/frontend/src/vite-env.d.ts
  gui/tapio-gui/frontend/tsconfig.json
  gui/tapio-gui/frontend/tsconfig.node.json
  gui/tapio-gui/frontend/vite.config.ts
  gui/tapio-gui/frontend/wailsjs/go/main/App.d.ts
  gui/tapio-gui/frontend/wailsjs/go/main/App.js
  gui/tapio-gui/frontend/wailsjs/go/models.ts
  gui/tapio-gui/frontend/wailsjs/runtime/package.json
  gui/tapio-gui/frontend/wailsjs/runtime/runtime.d.ts
  gui/tapio-gui/frontend/wailsjs/runtime/runtime.js
  gui/tapio-gui/go.mod
  gui/tapio-gui/go.sum
  gui/tapio-gui/main.go
  gui/tapio-gui/wails.json
  internal/cli/gui.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

fix(security): update golang.org/x/crypto to v0.35.0
  gui/tapio-gui/go.mod
  gui/tapio-gui/go.sum
Due: go-mod-tidy

fix(security): update golang.org/x/net to v0.36.0
  gui/tapio-gui/go.mod
  gui/tapio-gui/go.sum
Due: go-mod-tidy

fix(security): update golang.org/x/net to v0.38.0
  gui/tapio-gui/go.mod
  gui/tapio-gui/go.sum
Due: go-mod-tidy

Path conditions:
  go-fmt: any of: \.go$, but not: (?x)^(
  vendor/|
  \.git/|
  bin/|
  dist/|
  build/|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  go-mod-tidy: any of: go\.(mod|sum)$, but not: (?x)^(
  vendor/|
  \.git/|
  bin/|
  dist/|
  build/|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  go-vet: any of: \.go$, but not: (?x)^(
  vendor/|
  \.git/|
  bin/|
  dist/|
  build/|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  golangci-lint: any of: \.go$, but not: (?x)^(
  vendor/|
  \.git/|
  bin/|
  dist/|
  build/|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  gosec: any of: \.go$, but not: (?x)^(
  vendor/|
  \.git/|
  bin/|
  dist/|
  build/|
  .*\.pb\.go$|
  .*_generated\.go$
)$
