Repository yairfalse/tapio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

.pre-commit-config.yaml:

# ==========================================
# Tapio Pre-commit Configuration
# ==========================================

repos:
  # Go formatting and imports
  - repo: local
    hooks:
      - id: go-fmt
        name: Format Go code
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Tidy Go modules
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-vet
        name: Go vet
        entry: go vet
        language: system
        files: \.go$
        args: [./...]
        pass_filenames: false

      - id: golangci-lint
        name: Run golangci-lint
        entry: golangci-lint run
        language: system
        files: \.go$
        args: [--timeout=5m, --fix]
        pass_filenames: false

  # Security checks
  - repo: local
    hooks:
      - id: gosec
        name: Security scan with gosec
        entry: gosec
        language: system
        files: \.go$
        args: [-nosec-tag=notsafe, ./...]
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: mixed-line-ending

  # Markdown and documentation
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--disable, MD013, MD033, MD041, --]

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: \.lock$

# Global settings
default_stages: [commit]
minimum_pre_commit_version: "3.0.0"

# Skip specific files
exclude: |
  (?x)^(
    vendor/|
    \.git/|
    bin/|
    dist/|
    build/|
    .*\.pb\.go$|
    .*_generated\.go$
  )$

fix: add experimental build tags to prevent compilation errors
  Claude.md
  pkg/intelligence/correlation/dimensions.go
  pkg/intelligence/correlation/multidimensional_engine.go
  pkg/intelligence/correlation/multidimensional_engine_test.go
  pkg/intelligence/correlation/multidimensional_example.go
  pkg/intelligence/correlation/temporal_correlator.go
  scripts/check-architecture.go
  scripts/check-coverage.go
  scripts/check-implementation-completeness.go
  scripts/check-module-independence.go
  scripts/check-type-safety.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: format temporal_correlator.go to pass CI checks
  pkg/intelligence/correlation/temporal_correlator.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: resolve import hierarchy violations in correlation package
  pkg/intelligence/correlation/adapter_types.go
  pkg/intelligence/correlation/analytics_adapter.go
  pkg/intelligence/correlation/integration_example.go
  pkg/intelligence/correlation/semantic_correlation_engine.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: restructure eBPF package to follow 5-level hierarchy
  pkg/collectors/ebpf/bpf/Makefile
  pkg/collectors/ebpf/bpf/common.h
  pkg/collectors/ebpf/bpf/dns_monitor.c
  pkg/collectors/ebpf/bpf/headers/vmlinux.h
  pkg/collectors/ebpf/bpf/memory_tracker.c
  pkg/collectors/ebpf/bpf/network_monitor.c
  pkg/collectors/ebpf/bpf/oom_detector.c
  pkg/collectors/ebpf/bpf/packet_analyzer.c
  pkg/collectors/ebpf/bpf/protocol_analyzer.c
  pkg/collectors/ebpf/generate.go
  pkg/collectors/ebpf/linux/implementation.go
  pkg/collectors/ebpf/linux/types.go
  pkg/collectors/ebpf/memorytracker_bpfel.go
  pkg/collectors/ebpf/memorytracker_bpfel.go.bak
  pkg/collectors/ebpf/memorytracker_bpfel.o
  pkg/collectors/ebpf/types.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: restructure eBPF package to follow 5-level hierarchy (#156)
  pkg/collectors/ebpf/bpf/Makefile
  pkg/collectors/ebpf/bpf/common.h
  pkg/collectors/ebpf/bpf/dns_monitor.c
  pkg/collectors/ebpf/bpf/headers/vmlinux.h
  pkg/collectors/ebpf/bpf/memory_tracker.c
  pkg/collectors/ebpf/bpf/network_monitor.c
  pkg/collectors/ebpf/bpf/oom_detector.c
  pkg/collectors/ebpf/bpf/packet_analyzer.c
  pkg/collectors/ebpf/bpf/protocol_analyzer.c
  pkg/collectors/ebpf/generate.go
  pkg/collectors/ebpf/linux/implementation.go
  pkg/collectors/ebpf/linux/types.go
  pkg/collectors/ebpf/memorytracker_bpfel.go
  pkg/collectors/ebpf/memorytracker_bpfel.go.bak
  pkg/collectors/ebpf/memorytracker_bpfel.o
  pkg/collectors/ebpf/types.go
  pkg/intelligence/correlation/adapter_types.go
  pkg/intelligence/correlation/semantic_correlation_engine.go
Due: go-fmt, go-vet, golangci-lint, gosec

docs: update Claude.md with branch and git workflow rules
  Claude.md
Due: none

fix: resolve TestFullSystemIntegration performance and timeout issues
  pkg/intelligence/correlation/adapter_types.go
  pkg/intelligence/correlation/analytics_adapter.go
  pkg/intelligence/correlation/integration_test.go
  pkg/intelligence/correlation/persistence.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: remove adapter_types.go to align with main branch approach
  pkg/intelligence/correlation/adapter_types.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: add proto generation steps to CI workflow
  .github/workflows/ci.yml
  pkg/intelligence/adapters/adapters.go
  pkg/intelligence/correlation/analytics_adapter.go
  pkg/intelligence/patterns/missing_types.go
  pkg/intelligence/patterns/pattern_detector.go
  pkg/intelligence/patterns/pattern_discovery.go
  pkg/intelligence/pipeline/ring_buffer_pipeline.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: resolve TestFullSystemIntegration performance and timeout issues (#157)
  .github/workflows/ci.yml
  Claude.md
  pkg/intelligence/adapters/adapters.go
  pkg/intelligence/correlation/analytics_adapter.go
  pkg/intelligence/correlation/integration_test.go
  pkg/intelligence/correlation/persistence.go
  pkg/intelligence/patterns/missing_types.go
  pkg/intelligence/patterns/pattern_detector.go
  pkg/intelligence/patterns/pattern_discovery.go
  pkg/intelligence/pipeline/ring_buffer_pipeline.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: make eBPF collector build on Ubuntu Linux
  .gitignore
  go.mod
  go.sum
  pkg/collectors/ebpf/bpf/Makefile
  pkg/collectors/ebpf/bpf/common.h
  pkg/collectors/ebpf/bpf/dns_monitor.c
  pkg/collectors/ebpf/bpf/headers/vmlinux.h
  pkg/collectors/ebpf/bpf/network_monitor.c
  pkg/collectors/ebpf/bpf/packet_analyzer.c
  pkg/collectors/ebpf/bpf/protocol_analyzer.c
  pkg/collectors/ebpf/internal/platform_linux.go
  pkg/collectors/ebpf/linux/implementation.go
  pkg/collectors/ebpf/memory_tracker_bpfel_arm64.go
  pkg/collectors/ebpf/memory_tracker_bpfel_x86.go
  pkg/collectors/ebpf/memorytracker_bpfel.go
  pkg/collectors/ebpf/network_monitor_bpfel_arm64.go
  pkg/collectors/ebpf/network_monitor_bpfel_x86.go
  proto/gen/openapiv2/tapio.swagger.json
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

fix: make eBPF collector build on Ubuntu Linux (#159)
  .gitignore
  go.mod
  go.sum
  pkg/collectors/ebpf/bpf/Makefile
  pkg/collectors/ebpf/bpf/common.h
  pkg/collectors/ebpf/bpf/dns_monitor.c
  pkg/collectors/ebpf/bpf/headers/vmlinux.h
  pkg/collectors/ebpf/bpf/network_monitor.c
  pkg/collectors/ebpf/bpf/packet_analyzer.c
  pkg/collectors/ebpf/bpf/protocol_analyzer.c
  pkg/collectors/ebpf/internal/platform_linux.go
  pkg/collectors/ebpf/linux/implementation.go
  pkg/collectors/ebpf/memory_tracker_bpfel_arm64.go
  pkg/collectors/ebpf/memory_tracker_bpfel_x86.go
  pkg/collectors/ebpf/memorytracker_bpfel.go
  pkg/collectors/ebpf/network_monitor_bpfel_arm64.go
  pkg/collectors/ebpf/network_monitor_bpfel_x86.go
  proto/gen/openapiv2/tapio.swagger.json
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

docs: document architecture violation in analytics_adapter.go
  pkg/intelligence/correlation/ARCHITECTURE_ISSUE_ANALYTICS_ADAPTER.md
Due: none

fix: resolve intelligence layer build errors
  pkg/integrations/analytics/correlation_adapter.go
  pkg/intelligence/adapters/adapters.go
  pkg/intelligence/extraction/k8s_context_extractor.go
  pkg/intelligence/extraction/k8s_extraction_example.go
  pkg/intelligence/extraction/network_context.go
  pkg/intelligence/patterns/k8s_correlation_engine.go
  pkg/intelligence/patterns/k8s_patterns.go
  pkg/intelligence/patterns/pattern_discovery.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: resolve intelligence layer build errors (#160)
  pkg/integrations/analytics/correlation_adapter.go
  pkg/intelligence/adapters/adapters.go
  pkg/intelligence/correlation/ARCHITECTURE_ISSUE_ANALYTICS_ADAPTER.md
  pkg/intelligence/extraction/k8s_context_extractor.go
  pkg/intelligence/extraction/k8s_extraction_example.go
  pkg/intelligence/extraction/network_context.go
  pkg/intelligence/patterns/k8s_correlation_engine.go
  pkg/intelligence/patterns/k8s_patterns.go
  pkg/intelligence/patterns/pattern_discovery.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: move analytics adapter to integrations layer to fix architecture violation
  pkg/integrations/analytics/correlation_adapter.go
  pkg/intelligence/correlation/ARCHITECTURE_ISSUE_ANALYTICS_ADAPTER.md
  pkg/intelligence/correlation/conversion.go
  pkg/intelligence/correlation/integration_example.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: enhance eBPF collectors with HTTP/gRPC tracing and improved monitoring
  pkg/collectors/ebpf/bpf/Makefile
  pkg/collectors/ebpf/bpf/common.h
  pkg/collectors/ebpf/bpf/dns_monitor.c
  pkg/collectors/ebpf/bpf/grpc_tracer.c
  pkg/collectors/ebpf/bpf/http_tracer.c
  pkg/collectors/ebpf/bpf/memory_tracker.c
  pkg/collectors/ebpf/bpf/network_monitor.c
  pkg/collectors/ebpf/bpf/oom_detector.c
  pkg/collectors/ebpf/bpf/packet_analyzer.c
  pkg/collectors/ebpf/bpf/protocol_analyzer.c
  pkg/collectors/ebpf/memorytracker_bpfel.go
  pkg/collectors/ebpf/memorytracker_bpfel_arm64.go
  pkg/collectors/ebpf/memorytracker_bpfel_arm64.o
  pkg/collectors/ebpf/memorytracker_bpfel_x86.go
  pkg/collectors/ebpf/memorytracker_bpfel_x86.o
Due: go-fmt, go-vet, golangci-lint, gosec

Fix/analytics adapter architecture (#161)
  pkg/integrations/analytics/correlation_adapter.go
  pkg/intelligence/correlation/conversion.go
  pkg/intelligence/correlation/integration_example.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: format conversion.go to pass CI checks
  pkg/intelligence/correlation/conversion.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: enhance eBPF collectors with HTTP/gRPC tracing and improved monitoring (#162)
  pkg/collectors/ebpf/bpf/Makefile
  pkg/collectors/ebpf/bpf/common.h
  pkg/collectors/ebpf/bpf/dns_monitor.c
  pkg/collectors/ebpf/bpf/grpc_tracer.c
  pkg/collectors/ebpf/bpf/http_tracer.c
  pkg/collectors/ebpf/bpf/memory_tracker.c
  pkg/collectors/ebpf/bpf/network_monitor.c
  pkg/collectors/ebpf/bpf/oom_detector.c
  pkg/collectors/ebpf/bpf/packet_analyzer.c
  pkg/collectors/ebpf/bpf/protocol_analyzer.c
  pkg/collectors/ebpf/memorytracker_bpfel_arm64.go
  pkg/collectors/ebpf/memorytracker_bpfel_arm64.o
  pkg/collectors/ebpf/memorytracker_bpfel_x86.go
  pkg/collectors/ebpf/memorytracker_bpfel_x86.o
Due: go-fmt, go-vet, golangci-lint, gosec

feat: implement collector-intelligence pipeline integration
  pkg/collectors/README.md
  pkg/collectors/adapters.go
  pkg/collectors/cmd/manager/main.go
  pkg/collectors/manager.go
  pkg/collectors/manager_test.go
  pkg/integrations/pipeline/README.md
  pkg/integrations/pipeline/cmd/example/main.go
  pkg/integrations/pipeline/cmd/example/mock_collector.go
  pkg/integrations/pipeline/collector_intelligence_pipeline.go
  pkg/integrations/pipeline/collector_intelligence_pipeline_test.go
  pkg/intelligence/correlation/conversion.go
  pkg/intelligence/correlation/multidimensional_engine.go
  pkg/intelligence/correlation/multidimensional_example.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: correct eBPF config structure in collector manager
  pkg/collectors/cmd/manager/main.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: implement collector-intelligence pipeline integration
  pkg/integrations/analytics/correlation_adapter.go
  pkg/integrations/pipeline/collector_intelligence_pipeline.go
  pkg/integrations/pipeline/collector_intelligence_pipeline_test.go
  pkg/intelligence/adapters/adapters.go
  pkg/intelligence/correlation/multidimensional_example.go
  remove_experimental_tags.sh
Due: go-fmt, go-vet, golangci-lint, gosec

feat: add collector manager and adapters implementation
  pkg/collectors/cmd/manager/main.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: exclude eBPF package from go vet in CI
  .github/workflows/ci.yml
Due: none

feat: implement collector-intelligence pipeline integration (#163)
  .github/workflows/ci.yml
  pkg/collectors/README.md
  pkg/collectors/adapters.go
  pkg/collectors/cmd/manager/main.go
  pkg/collectors/manager.go
  pkg/collectors/manager_test.go
  pkg/integrations/analytics/correlation_adapter.go
  pkg/integrations/pipeline/README.md
  pkg/integrations/pipeline/cmd/example/main.go
  pkg/integrations/pipeline/cmd/example/mock_collector.go
  pkg/integrations/pipeline/collector_intelligence_pipeline.go
  pkg/integrations/pipeline/collector_intelligence_pipeline_test.go
  pkg/intelligence/adapters/adapters.go
  pkg/intelligence/correlation/conversion.go
  pkg/intelligence/correlation/multidimensional_engine.go
  pkg/intelligence/correlation/multidimensional_example.go
  remove_experimental_tags.sh
Due: go-fmt, go-vet, golangci-lint, gosec

feat: implement comprehensive Linux eBPF collector with MapManager and PerfEventManager
  README.md
Due: none

feat: add comprehensive test suite and documentation for eBPF collector
  pkg/collectors/ebpf/COLIMA_TESTING.md
  pkg/collectors/ebpf/internal/benchmark_test.go
  pkg/collectors/ebpf/internal/collector_integration_test.go
  pkg/collectors/ebpf/internal/map_manager_test.go
  pkg/collectors/ebpf/internal/perf_manager_test.go
  pkg/collectors/ebpf/internal/platform_linux.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: remove generated BPF files and update .gitignore to prevent CI issues
  .gitignore
  go.mod
  go.sum
  pkg/collectors/cni/core/interfaces.go
  pkg/collectors/cni/internal/collector.go
  pkg/collectors/ebpf/internal/collector_prod_test.go
  pkg/collectors/ebpf/memory_tracker_bpfel_arm64.go
  pkg/collectors/ebpf/memory_tracker_bpfel_x86.go
  pkg/collectors/ebpf/memorytracker_bpfel_arm64.go
  pkg/collectors/ebpf/memorytracker_bpfel_arm64.o
  pkg/collectors/ebpf/memorytracker_bpfel_x86.go
  pkg/collectors/ebpf/memorytracker_bpfel_x86.o
  pkg/collectors/ebpf/network_monitor_bpfel_arm64.go
  pkg/collectors/ebpf/network_monitor_bpfel_x86.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec
