Repository yairfalse/tapio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

.pre-commit-config.yaml:

# ==========================================
# Tapio Pre-commit Configuration
# ==========================================

repos:
  # Go formatting and imports
  - repo: local
    hooks:
      - id: go-fmt
        name: Format Go code
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Tidy Go modules
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-vet
        name: Go vet
        entry: go vet
        language: system
        files: \.go$
        args: [./...]
        pass_filenames: false

      - id: golangci-lint
        name: Run golangci-lint
        entry: golangci-lint run
        language: system
        files: \.go$
        args: [--timeout=5m, --fix]
        pass_filenames: false

  # Security checks
  - repo: local
    hooks:
      - id: gosec
        name: Security scan with gosec
        entry: gosec
        language: system
        files: \.go$
        args: [-nosec-tag=notsafe, ./...]
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: mixed-line-ending

  # Markdown and documentation
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--disable, MD013, MD033, MD041, --]

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: \.lock$

# Global settings
default_stages: [commit]
minimum_pre_commit_version: "3.0.0"

# Skip specific files
exclude: |
  (?x)^(
    vendor/|
    \.git/|
    bin/|
    dist/|
    build/|
    .*\.pb\.go$|
    .*_generated\.go$
  )$

feat(collectors): Add EventPipeline to connect collectors to NATS (#213)
  pkg/collectors/common/performance_adapter.go
  pkg/collectors/common/raw_event_performance_adapter.go
  pkg/collectors/common/tapio_client.go
  pkg/collectors/common/tapio_client_test.go
  pkg/collectors/ebpf/collector.go
  pkg/collectors/pipeline/k8s_enricher.go
  pkg/collectors/pipeline/nats_publisher.go
  pkg/collectors/pipeline/pipeline.go
  pkg/collectors/pipeline/pipeline_test.go
  pkg/collectors/pipeline/types.go
  pkg/pipeline/client.go
  pkg/pipeline/client_test.go
  pkg/pipeline/grpc_client.go
  pkg/pipeline/grpc_client_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: implement pipeline infrastructure with NATS, Neo4j, Transformer, and API services
  cmd/api/handlers_test.go
  cmd/api/main.go
  cmd/transformer/main.go
  cmd/transformer/service_test.go
  go.mod
  go.sum
  integration/deployment/k8s/api.yaml
  integration/deployment/k8s/nats.yaml
  integration/deployment/k8s/neo4j.yaml
  integration/deployment/k8s/transformer.yaml
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

feat: implement pipeline infrastructure with NATS, Neo4j, Transformer, and API services (#215)
  cmd/api/handlers_test.go
  cmd/api/main.go
  cmd/transformer/main.go
  cmd/transformer/service_test.go
  go.mod
  go.sum
  integration/deployment/k8s/api.yaml
  integration/deployment/k8s/nats.yaml
  integration/deployment/k8s/neo4j.yaml
  integration/deployment/k8s/transformer.yaml
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

feat(intelligence): implement Neo4j-based correlation engine
  pkg/intelligence/README.md
  pkg/intelligence/graph/client.go
  pkg/intelligence/graph/client_test.go
  pkg/intelligence/graph/schema.go
  pkg/intelligence/patterns/detector.go
  pkg/intelligence/patterns/detector_extended_test.go
  pkg/intelligence/patterns/detector_test.go
  pkg/intelligence/queries/correlations.go
  pkg/intelligence/queries/correlations_test.go
  pkg/intelligence/queries/types.go
  pkg/intelligence/service.go
  pkg/intelligence/service_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix(intelligence): convert maps to string arrays for Neo4j compatibility
  cmd/intelligence-demo/main.go
  go.mod
  go.sum
  k8s/neo4j.yaml
  pkg/intelligence/graph/schema.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

Feature/nats correlation integration (#216)
  cmd/intelligence-demo/main.go
  k8s/neo4j.yaml
  pkg/intelligence/README.md
  pkg/intelligence/graph/client.go
  pkg/intelligence/graph/client_test.go
  pkg/intelligence/graph/schema.go
  pkg/intelligence/patterns/detector.go
  pkg/intelligence/patterns/detector_extended_test.go
  pkg/intelligence/patterns/detector_test.go
  pkg/intelligence/queries/correlations.go
  pkg/intelligence/queries/correlations_test.go
  pkg/intelligence/queries/types.go
  pkg/intelligence/service.go
  pkg/intelligence/service_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(collectors): standardize all collectors with enhanced K8s metadata
  pkg/collectors/cni/collector.go
  pkg/collectors/cni/config.go
  pkg/collectors/cni/types.go
  pkg/collectors/ebpf/bpf/generate.go
  pkg/collectors/ebpf/bpf/kernel_monitor.c
  pkg/collectors/ebpf/collector.go
  pkg/collectors/ebpf/types.go
  pkg/collectors/etcd/collector.go
  pkg/collectors/etcd/config.go
  pkg/collectors/etcd/types.go
  pkg/collectors/kubeapi/collector.go
  pkg/collectors/kubeapi/collector_full_test.go
  pkg/collectors/kubeapi/collector_test.go
  pkg/collectors/kubeapi/config.go
  pkg/collectors/kubeapi/tests/collector_test.go
  pkg/collectors/kubeapi/types.go
  pkg/collectors/systemd/config.go
  pkg/collectors/systemd/tests/collector_test.go
  pkg/collectors/systemd/types.go
  pkg/collectors/template/README.md
  pkg/collectors/template/collector.go
  pkg/collectors/template/collector_test.go
  pkg/collectors/template/config.go
  pkg/collectors/template/testdata/sample_events.json
  pkg/collectors/template/types.go
Due: go-fmt, go-vet, golangci-lint, gosec

docs: rewrite README to be humble and accurate
  Makefile
  README.md
  docker-compose.neo4j.yml
  pkg/domain/unified_event.go
  pkg/intelligence/engine.go
  pkg/intelligence/queries/correlations_test.go
  pkg/intelligence/types.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: add journald log collection to systemd collector
  pkg/collectors/systemd/bpf/generate.go
  pkg/collectors/systemd/bpf/k8s_service_syscalls.c
  pkg/collectors/systemd/bpf/systemd_syscalls.c
  pkg/collectors/systemd/collector.go
  pkg/collectors/systemd/collector_test.go
  pkg/collectors/systemd/config.go
  pkg/collectors/systemd/init.go
  pkg/collectors/systemd/journal.go
  pkg/collectors/systemd/tests/collector_test.go
  pkg/collectors/systemd/types.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: centralize NATS configuration and add test environment
  cmd/correlation-service/main.go
  cmd/tapio/main.go
  cmd/transformer/main.go
  go.mod
  pkg/collectors/pipeline/nats_publisher.go
  pkg/collectors/pipeline/pipeline.go
  pkg/collectors/pipeline/types.go
  pkg/config/nats.go
  pkg/intelligence/nats/subscriber.go
  test/README.md
  test/docker/Dockerfile.collector
  test/docker/Dockerfile.correlation
  test/k8s/collector.yaml
  test/k8s/correlation-service.yaml
  test/run-tests.sh
  test/scenarios/crash-loop.yaml
  test/scenarios/oom-killer.yaml
  test/setup.sh
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

docs: add comprehensive git workflow guidelines and tools
  .github/pull_request_template.md
  CONTRIBUTING.md
  Makefile
  docs/GIT_WORKFLOW.md
  scripts/branch-cleanup.sh
Due: none

Feat/journald systemd collector (#218)
  .github/pull_request_template.md
  CONTRIBUTING.md
  Makefile
  docs/GIT_WORKFLOW.md
  scripts/branch-cleanup.sh
Due: none

fix: resolve eBPF compilation issues across collectors
  pkg/collectors/cni/bpf_src/cni_monitor.c
  pkg/collectors/ebpf/bpf_src/kernel_monitor.c
  pkg/collectors/ebpf/collector.go
  pkg/collectors/etcd/bpf_src/etcd_monitor.c
  pkg/collectors/etcd/collector.go
  pkg/collectors/etcd/config.go
  pkg/collectors/etcd/types.go
  pkg/collectors/kubeapi/collector_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: resolve eBPF compilation issues across collectors (#219)
  pkg/collectors/cni/bpf_src/cni_monitor.c
  pkg/collectors/ebpf/bpf_src/kernel_monitor.c
  pkg/collectors/ebpf/collector.go
  pkg/collectors/etcd/bpf_src/etcd_monitor.c
  pkg/collectors/etcd/collector.go
  pkg/collectors/etcd/config.go
  pkg/collectors/etcd/types.go
  pkg/collectors/kubeapi/collector_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: complete collectors integration with NATS and health monitoring
  cmd/collectors/main.go
  docs/ARCHITECTURE_FLOW.md
  pkg/collectors/cni/bpf/cni_monitor.c
  pkg/collectors/cni/bpf/generate.go
  pkg/collectors/cni/bpf/support.go
  pkg/collectors/etcd/bpf/etcd_monitor.c
  pkg/collectors/etcd/bpf/generate.go
  pkg/collectors/etcd/bpf/support.go
  pkg/collectors/pipeline/pipeline.go
  pkg/collectors/pipeline/types.go
  scripts/test-nats-integration.sh
Due: go-fmt, go-vet, golangci-lint, gosec

fix: update Go version and k8s.io dependencies
  go.mod
  go.sum
Due: go-mod-tidy

feat: add Kubelet collector and service network mapping
  cmd/collectors/main.go
  pkg/collectors/ebpf/service_map.go
  pkg/collectors/kubelet/collector.go
  pkg/collectors/kubelet/collector_test.go
  pkg/collectors/kubelet/init.go
Due: go-fmt, go-vet, golangci-lint, gosec

Feat/kubelet collector and service map (#220)
  cmd/collectors/main.go
  docs/ARCHITECTURE_FLOW.md
  go.mod
  go.sum
  pkg/collectors/cni/bpf/cni_monitor.c
  pkg/collectors/cni/bpf/generate.go
  pkg/collectors/cni/bpf/support.go
  pkg/collectors/ebpf/service_map.go
  pkg/collectors/etcd/bpf/etcd_monitor.c
  pkg/collectors/etcd/bpf/generate.go
  pkg/collectors/etcd/bpf/support.go
  pkg/collectors/kubelet/collector.go
  pkg/collectors/kubelet/collector_test.go
  pkg/collectors/kubelet/init.go
  pkg/collectors/pipeline/pipeline.go
  pkg/collectors/pipeline/types.go
  scripts/test-nats-integration.sh
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

feat: Major correlation engine enhancement with 5 correlators
  cmd/api/handlers_test.go
  cmd/collectors/main.go
  cmd/correlation-service/main.go
  cmd/intelligence-demo/main.go
  cmd/transformer/main.go
  cmd/transformer/service_test.go
  config/nats.yaml
  go.mod
  go.sum
  k8s/nats-fixed.yaml
  k8s/nats-streams.yaml
  pkg/collectors/cni/bpf/support.go
  pkg/collectors/cni/collector.go
  pkg/collectors/ebpf/bpf/.gitignore
  pkg/collectors/ebpf/bpf/doc.go
  pkg/collectors/ebpf/bpf/generate.go
  pkg/collectors/ebpf/bpf/kernel_monitor.c
  pkg/collectors/ebpf/bpf/kernelmonitor_bpfel_arm64.go
  pkg/collectors/ebpf/bpf/kernelmonitor_bpfel_x86.go
  pkg/collectors/ebpf/bpf/vmlinux.h
  pkg/collectors/ebpf/types.go
  pkg/collectors/etcd/bpf/support.go
  pkg/collectors/etcd/config.go
  pkg/collectors/kubelet/collector.go
  pkg/collectors/pipeline/pipeline.go
  pkg/collectors/pipeline/types.go
  pkg/integrations/telemetry/instrumentation.go
  pkg/integrations/telemetry/propagation.go
  pkg/integrations/telemetry/provider.go
  pkg/intelligence/correlation/engine.go
  pkg/intelligence/correlation/performance.go
  pkg/intelligence/correlation/servicemap.go
  pkg/intelligence/engine.go.old
  pkg/intelligence/queries/correlations_test.go
  pkg/intelligence/types.go.old
  test_nats_sub.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

Feat/kubelet collector and service map (#221)
  cmd/api/handlers_test.go
  cmd/collectors/main.go
  cmd/correlation-service/main.go
  cmd/intelligence-demo/main.go
  cmd/transformer/main.go
  cmd/transformer/service_test.go
  config/nats.yaml
  go.mod
  go.sum
  k8s/nats-fixed.yaml
  k8s/nats-streams.yaml
  pkg/collectors/cni/bpf/support.go
  pkg/collectors/cni/collector.go
  pkg/collectors/ebpf/bpf/.gitignore
  pkg/collectors/ebpf/bpf/doc.go
  pkg/collectors/ebpf/bpf/generate.go
  pkg/collectors/ebpf/bpf/kernel_monitor.c
  pkg/collectors/ebpf/bpf/kernelmonitor_bpfel_arm64.go
  pkg/collectors/ebpf/bpf/kernelmonitor_bpfel_x86.go
  pkg/collectors/ebpf/bpf/vmlinux.h
  pkg/collectors/ebpf/types.go
  pkg/collectors/etcd/bpf/support.go
  pkg/collectors/etcd/config.go
  pkg/collectors/kubelet/collector.go
  pkg/collectors/pipeline/pipeline.go
  pkg/collectors/pipeline/types.go
  pkg/integrations/telemetry/instrumentation.go
  pkg/integrations/telemetry/propagation.go
  pkg/integrations/telemetry/provider.go
  pkg/intelligence/correlation/engine.go
  pkg/intelligence/correlation/performance.go
  pkg/intelligence/correlation/servicemap.go
  pkg/intelligence/engine.go.old
  pkg/intelligence/queries/correlations_test.go
  pkg/intelligence/types.go.old
  test_nats_sub.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

feat: implement standard correlator interfaces
  pkg/intelligence/correlation/interfaces.go
  pkg/intelligence/correlation/interfaces_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

Feat/standard correlator interfaces (#232)
  pkg/intelligence/correlation/interfaces.go
  pkg/intelligence/correlation/interfaces_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: add K8sGrapher service for Kubernetes relationship graph
  pkg/integrations/k8sgrapher/Dockerfile
  pkg/integrations/k8sgrapher/README.md
  pkg/integrations/k8sgrapher/cmd/main.go
  pkg/integrations/k8sgrapher/grapher.go
  pkg/integrations/k8sgrapher/grapher_simple_test.go
  pkg/integrations/k8sgrapher/grapher_test.go
  pkg/integrations/k8sgrapher/helpers.go
  pkg/integrations/k8sgrapher/helpers_test.go
  pkg/integrations/k8sgrapher/informers.go
  pkg/integrations/k8sgrapher/neo4j_mocks_test.go
  pkg/integrations/k8sgrapher/neo4j_updates.go
  pkg/integrations/k8sgrapher/relationships.go
  pkg/integrations/telemetry/k8s_grapher_instrumentation.go
  pkg/integrations/telemetry/k8s_grapher_instrumentation_test.go
Due: go-fmt, go-vet, golangci-lint, gosec
