Repository yairfalse/tapio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

.pre-commit-config.yaml:

# ==========================================
# Tapio Pre-commit Configuration
# ==========================================

repos:
  # Go formatting and imports
  - repo: local
    hooks:
      - id: go-fmt
        name: Format Go code
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Tidy Go modules
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-vet
        name: Go vet
        entry: go vet
        language: system
        files: \.go$
        args: [./...]
        pass_filenames: false

      - id: golangci-lint
        name: Run golangci-lint
        entry: golangci-lint run
        language: system
        files: \.go$
        args: [--timeout=5m, --fix]
        pass_filenames: false

  # Security checks
  - repo: local
    hooks:
      - id: gosec
        name: Security scan with gosec
        entry: gosec
        language: system
        files: \.go$
        args: [-nosec-tag=notsafe, ./...]
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: mixed-line-ending

  # Markdown and documentation
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--disable, MD013, MD033, MD041, --]

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: \.lock$

# Global settings
default_stages: [commit]
minimum_pre_commit_version: "3.0.0"

# Skip specific files
exclude: |
  (?x)^(
    vendor/|
    \.git/|
    bin/|
    dist/|
    build/|
    .*\.pb\.go$|
    .*_generated\.go$
  )$

refactor(dataflow): update to use UnifiedEvent instead of Event (#134)
  pkg/dataflow/dataflow.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: implement critical TODOs for UnifiedEvent flow
  pkg/dataflow/dataflow.go
  pkg/dataflow/server_bridge.go
  pkg/interfaces/server/grpc/unified_event_converter.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: implement critical TODOs for UnifiedEvent flow (#136)
  pkg/dataflow/dataflow.go
  pkg/dataflow/server_bridge.go
  pkg/interfaces/server/grpc/unified_event_converter.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: add retry and circuit breaker logic for network resilience
  pkg/collectors/common/retry.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: add retry and circuit breaker logic for network resilience (#137)
  pkg/collectors/common/retry.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: wire concrete implementations in pipeline builder
  pkg/intelligence/adapters/adapters.go
  pkg/intelligence/pipeline/builder.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: critical TODOs and pipeline dependency injection (#138)
  pkg/intelligence/adapters/adapters.go
  pkg/intelligence/pipeline/builder.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: add comprehensive OTEL metrics integration
  go.mod
  pkg/dataflow/dataflow.go
  pkg/integrations/otel/metrics.go
  pkg/integrations/otel/provider.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

feat: comprehensive OTEL metrics integration for enterprise observability (#139)
  go.mod
  pkg/dataflow/dataflow.go
  pkg/integrations/otel/metrics.go
  pkg/integrations/otel/provider.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

fix: remove outdated linux.go with incompatible architecture
  pkg/collectors/linux.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: remove outdated linux.go with incompatible architecture (#140)
  pkg/collectors/linux.go
Due: go-fmt, go-vet, golangci-lint, gosec

fixed the orchestrator bugs
  pkg/integrations/server/orchestrator.go
Due: go-fmt, go-vet, golangci-lint, gosec

Fix orchestrator PR (#141)
  pkg/integrations/server/orchestrator.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: critical goroutine leak in correlation Events() method
  pkg/intelligence/correlation/manager.go
  pkg/intelligence/correlation/semantic_correlation_engine.go
  pkg/intelligence/correlation/semantic_correlation_engine_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: implement high-performance event handling for eBPF collector
  pkg/collectors/common/performance_adapter.go
  pkg/collectors/common/performance_adapter_test.go
  pkg/collectors/ebpf/internal/collector_prod.go
  pkg/performance/event_buffer.go
Due: go-fmt, go-vet, golangci-lint, gosec

docs: add performance integration guide for collectors
  pkg/collectors/PERFORMANCE.md
Due: none

fix: resolve semantic correlation engine compilation errors
  pkg/intelligence/correlation/manager.go
  pkg/intelligence/correlation/semantic_correlation_engine.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: integrate high-performance buffers into all collectors
  pkg/collectors/PERFORMANCE.md
  pkg/collectors/cni/internal/collector.go
  pkg/collectors/common/performance_adapter.go
  pkg/collectors/common/performance_adapter_test.go
  pkg/collectors/systemd/internal/collector.go
  pkg/dataflow/dataflow.go
  pkg/performance/event_buffer.go
Due: go-fmt, go-vet, golangci-lint, gosec

style: fix formatting and trailing whitespace
  pkg/collectors/cni/adapter_test.go
  pkg/collectors/common/tapio_client.go
  pkg/collectors/common/tapio_client_test.go
  pkg/collectors/ebpf/internal/ratelimiter_test.go
  pkg/collectors/k8s/adapter_test.go
  pkg/collectors/systemd/adapter_test.go
  pkg/intelligence/adapters/adapters.go
Due: go-fmt, go-vet, golangci-lint, gosec

chore: add proto/gen to gitignore
  .gitignore
Due: none

fix: implement event tracking in CollectorManager
  pkg/integrations/collector-manager/manager.go
  pkg/integrations/collector-manager/manager_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: implement pagination support in GetEvents gRPC endpoint
  go.mod
  go.sum
  pkg/intelligence/performance/event_pipeline.go
  pkg/intelligence/performance/ring_buffer.go
  pkg/interfaces/server/grpc/tapio_service_complete.go
  pkg/performance/ring_buffer.go
  pkg/performance/ring_buffer_batch_test.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

fix: correct type conversion in dropped event counter
  pkg/intelligence/performance/event_pipeline.go
Due: go-fmt, go-vet, golangci-lint, gosec
