Repository yairfalse/tapio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, agent-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: [-w, -s]
        language: system
        files: \.go$
        
      - id: go-vet
        name: go vet
        entry: bash
        args: [-c, 'go list ./... | grep -v pkg/mod | xargs go vet']
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-mod-tidy
        name: go mod tidy
        entry: go
        args: [mod, tidy]
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false
        
      - id: agent-check
        name: agent quality check
        entry: bash
        args: [-c, 'make agent-check']
        language: system
        files: \.go$
        pass_filenames: false
        
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy
      - id: go-fmt
      - id: go-vet-mod
      - id: go-unit-tests-mod
        args: [-short]

fix: resolve systematic Ubuntu compilation errors across all packages
  internal/cli/opentelemetry.go
  internal/cli/prometheus.go
  internal/cli/sniff.go
  internal/cli/why.go
  pkg/metrics/prometheus.go
  pkg/metrics/staleness_tracker.go
  pkg/telemetry/correlation_traces.go
  pkg/telemetry/enterprise.go
  pkg/telemetry/opentelemetry.go
  pkg/telemetry/span_manager.go
Due: go-fmt, go-vet, agent-check

fix: resolve installation script repository URL and release handling
  install/install.sh
Due: none

feat: enhance CLI usability with improved error handling and user experience
  internal/cli/check.go
  internal/cli/context.go
  internal/cli/errors.go
  internal/cli/progress.go
  internal/cli/prometheus.go
  internal/cli/root.go
  internal/cli/why.go
  pkg/collector/manager.go
Due: go-fmt, go-vet, agent-check

feat: implement enterprise-grade installation system with Go patterns showcase
  cmd/install/README.md
  cmd/install/assets/embed.go
  cmd/install/assets/scripts/install.sh
  cmd/install/example/main.go
  cmd/install/installer/binary.go
  cmd/install/installer/circuit_breaker.go
  cmd/install/installer/docker.go
  cmd/install/installer/downloader.go
  cmd/install/installer/interfaces.go
  cmd/install/installer/kubernetes.go
  cmd/install/installer/pipeline.go
  cmd/install/installer/rollback.go
  cmd/install/installer/steps.go
  cmd/install/main.go
  cmd/install/platform/darwin.go
  cmd/install/platform/detector.go
  cmd/install/platform/factory.go
  cmd/install/platform/linux.go
  cmd/install/platform/windows.go
  cmd/install/progress/metrics.go
  cmd/install/progress/simple_terminal.go
  cmd/install/progress/terminal.go
  cmd/install/progress/tracker.go
  cmd/install/validation/checker.go
  cmd/install/validation/connectivity.go
  cmd/install/validation/health.go
Due: go-fmt, go-vet, agent-check

docs(ci): add comprehensive implementation summary
  CI_IMPLEMENTATION_SUMMARY.md
Due: none

feat(correlation): add missing events correlation package files
  pkg/events_correlation/bridge/tapio.go
  pkg/events_correlation/integration/manager.go
  pkg/events_correlation/integration/manager_test.go
  pkg/events_correlation/store/memory.go
Due: go-fmt, go-vet, agent-check

feat(otel): implement Phase 3 OTEL integration with cutting-edge Go patterns
  docs/integration-plan-v2.md
  examples/correlation_demo.go
  pkg/discovery/README.md
  pkg/discovery/cache.go
  pkg/discovery/concurrent.go
  pkg/discovery/discovery_test.go
  pkg/discovery/example_test.go
  pkg/discovery/interfaces.go
  pkg/discovery/kubernetes.go
  pkg/discovery/local.go
  pkg/discovery/validator.go
  pkg/metrics/README.md
  pkg/metrics/benchmarks_test.go
  pkg/metrics/collector.go
  pkg/metrics/factory.go
  pkg/metrics/interfaces.go
  pkg/metrics/observer.go
  pkg/metrics/prometheus.go
  pkg/metrics/prometheus.go.bak
  pkg/metrics/shutdown.go
  pkg/metrics/streamer.go
  pkg/metrics/types.go
  pkg/otel/adapters/repository_adapter.go
  pkg/otel/application/trace_service.go
  pkg/otel/core/arena.go
  pkg/otel/core/ringbuffer.go
  pkg/otel/cqrs/command_bus.go
  pkg/otel/cqrs/event_bus.go
  pkg/otel/cqrs/query_bus.go
  pkg/otel/domain/interfaces.go
  pkg/otel/domain/trace_aggregate.go
  pkg/otel/encoding/benchmarks_test.go
  pkg/otel/encoding/binary_encoder.go
  pkg/otel/encoding/binary_reader.go
  pkg/otel/encoding/binary_writer.go
  pkg/otel/encoding/compressor.go
  pkg/otel/logging/slog_handler.go
  pkg/otel/ports/trace_ports.go
Due: go-fmt, go-vet, agent-check

feat: add comprehensive rule system with CPU throttling, crash loop, and disk pressure detection
  pkg/collector/manager_v2.go
  pkg/correlation_v2/architecture.md
  pkg/correlation_v2/benchmark_test.go
  pkg/correlation_v2/engine.go
  pkg/correlation_v2/lockfree/ring_buffer.go
  pkg/correlation_v2/router/event_router.go
  pkg/correlation_v2/shard/processor.go
  pkg/correlation_v2/shard/rule_engine.go
  pkg/correlation_v2/support.go
  pkg/correlation_v2/timeline/compressed_timeline.go
  pkg/correlation_v2/types.go
  pkg/events_correlation/hybrid/adapter.go
  pkg/events_correlation/hybrid/circuit_breaker.go
  pkg/events_correlation/hybrid/engine.go
  pkg/events_correlation/hybrid/health.go
  pkg/events_correlation/hybrid/integration_test.go
  pkg/events_correlation/hybrid/metrics.go
  pkg/events_correlation/hybrid/progressive.go
  pkg/events_correlation/hybrid/router.go
  pkg/events_correlation/rules/crash_loop.go
  pkg/otel/benchmarks/trace_benchmarks_test.go
  pkg/otel/core/simd.go
  pkg/otel/domain/events.go
  pkg/otel/domain/trace_fuzz_test.go
Due: go-fmt, go-vet, agent-check

feat: implement comprehensive storage & volume correlation rules
  pkg/events_correlation/events_correlation.go
  pkg/events_correlation/rules/registry.go
  pkg/events_correlation/rules/storage.go
  pkg/events_correlation/types.go
Due: go-fmt, go-vet, agent-check

feat: add storage & volume correlation rules
  pkg/events_correlation/rules/registry.go
  pkg/events_correlation/rules/storage.go
  pkg/events_correlation/types.go
Due: go-fmt, go-vet, agent-check

feat(otel): add OTEL Phase 3 integration with advanced Go patterns
  Makefile
  go.mod
  go.sum
  pkg/metrics/prometheus.go
  pkg/otel/adapters/repository_adapter.go
  pkg/otel/application/trace_service.go
  pkg/otel/benchmarks/trace_benchmarks_test.go
  pkg/otel/core/arena.go
  pkg/otel/core/ringbuffer.go
  pkg/otel/core/simd.go
  pkg/otel/cqrs/command_bus.go
  pkg/otel/cqrs/event_bus.go
  pkg/otel/cqrs/query_bus.go
  pkg/otel/domain/events.go
  pkg/otel/domain/interfaces.go
  pkg/otel/domain/trace_aggregate.go
  pkg/otel/domain/trace_fuzz_test.go
  pkg/otel/encoding/benchmarks_test.go
  pkg/otel/encoding/binary_encoder.go
  pkg/otel/integration/correlation_bridge.go
  pkg/otel/logging/slog_handler.go
  pkg/otel/ports/trace_ports.go
  scripts/benchmark-pgo.sh
Due: go-fmt, go-vet, go-mod-tidy, agent-check

feat(grpc): implement complete gRPC streaming communication layer
  examples/grpc_streaming/main.go
Due: go-fmt, go-vet, agent-check

feat(collectors): implement lightweight collector binary architecture
  cmd/tapio-collector/main.go
  cmd/tapio-server/main.go
  config/collector.yaml
  deploy/README.md
  deploy/collector-daemonset.yaml
  deploy/namespace.yaml
  deploy/server-deployment.yaml
  examples/unified_events/main.go
  go.mod
  pkg/collectors/client.go
  pkg/collectors/ebpf_collector.go
  pkg/collectors/factory.go
  pkg/collectors/interface.go
  pkg/collectors/k8s_collector.go
  pkg/collectors/manager.go
  pkg/collectors/systemd_collector.go
  pkg/events/events.pb.go
  pkg/events/serialization.go
  pkg/events/unified.go
  pkg/events/unified_test.go
  pkg/events/validation.go
  pkg/events/validation_test.go
  pkg/grpc/batching.go
  pkg/grpc/client.go
  pkg/grpc/collector.pb.go
  pkg/grpc/collector_grpc.pb.go
  pkg/grpc/connection.go
  pkg/grpc/flow_control.go
  pkg/grpc/metrics.go
  pkg/grpc/performance_test.go
  pkg/grpc/server.go
  pkg/monitoring/resource.go
  proto/collector.proto
  proto/events.proto
Due: go-fmt, go-vet, go-mod-tidy, agent-check

feat(ebpf): implement memory tracking collector with OOM prediction
  .github/PULL_REQUEST_TEMPLATE/ebpf_collector.md
  Makefile.ebpf
  pkg/collectors/ebpf/TESTING.md
  pkg/collectors/ebpf/TROUBLESHOOTING.md
  pkg/collectors/ebpf/memory.go
  pkg/collectors/ebpf/memory_bench_test.go
  scripts/build-ebpf.sh
  scripts/performance-monitor.sh
  scripts/validate-ebpf-env.sh
Due: go-fmt, go-vet, agent-check

feat(events): implement OPINIONATED unified message format for AI-ready observability
  Makefile
  docs/data_philosophy.md
  pkg/events/README.md
  pkg/events/benchmark_test.go
  pkg/events/correlation_ready.go
  pkg/events/future_proof.go
  pkg/events/opinionated_test.go
  pkg/events/semantic.go
  proto/opinionated_events.proto
Due: go-fmt, go-vet, agent-check

feat(collectors): integrate eBPF collector with unified message format
  pkg/collectors/ebpf_adapter.go
  pkg/collectors/ebpf_adapter_test.go
  pkg/collectors/ebpf_factory.go
  pkg/collectors/event_handler.go
  pkg/collectors/grpc_client.go
  pkg/collectors/interface.go
Due: go-fmt, go-vet, agent-check

feat(systemd): implement high-performance systemd service monitoring
  examples/opinions-template.md
  pkg/collectors/systemd/README.md
  pkg/collectors/systemd/collector.go
  pkg/collectors/systemd/collector_test.go
  pkg/collectors/systemd/dbus.go
  pkg/collectors/systemd/patterns.go
  pkg/collectors/systemd/services.go
  pkg/events/opinionated/types.go
  pkg/opinions/README.md
  pkg/opinions/cli_example.go
  pkg/opinions/enricher.go
  pkg/opinions/extractor.go
  pkg/opinions/parser.go
  pkg/opinions/translator.go
  pkg/opinions/translator_test.go
  pkg/opinions/types.go
  pkg/opinions/validator.go
Due: go-fmt, go-vet, agent-check

feat(correlation): implement OPINIONATED correlation server - the perfect AI foundation
  cmd/tapio-server/main.go
  docs/correlation_philosophy.md
  pkg/correlation/ai_ready.go
  pkg/correlation/pattern_matcher.go
  pkg/correlation/perfect_engine.go
  pkg/correlation/perfect_engine_bench_test.go
  pkg/correlation/semantic_rules.go
  pkg/server/opinionated_grpc.go
Due: go-fmt, go-vet, agent-check
