Repository yairfalse/tapio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

.pre-commit-config.yaml:

# ==========================================
# Tapio Pre-commit Configuration
# ==========================================

repos:
  # Go formatting and imports
  - repo: local
    hooks:
      - id: go-fmt
        name: Format Go code
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Tidy Go modules
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-vet
        name: Go vet
        entry: go vet
        language: system
        files: \.go$
        args: [./...]
        pass_filenames: false

      - id: golangci-lint
        name: Run golangci-lint
        entry: golangci-lint run
        language: system
        files: \.go$
        args: [--timeout=5m, --fix]
        pass_filenames: false

  # Security checks
  - repo: local
    hooks:
      - id: gosec
        name: Security scan with gosec
        entry: gosec
        language: system
        files: \.go$
        args: [-nosec-tag=notsafe, ./...]
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: mixed-line-ending

  # Markdown and documentation
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--disable, MD013, MD033, MD041, --]

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: \.lock$

# Global settings
default_stages: [commit]
minimum_pre_commit_version: "3.0.0"

# Skip specific files
exclude: |
  (?x)^(
    vendor/|
    \.git/|
    bin/|
    dist/|
    build/|
    .*\.pb\.go$|
    .*_generated\.go$
  )$

feat: migrate from 35 modules to single module architecture
  cmd/plugins/tapio-prometheus/main.go
  cmd/tapio-cli/check/check.go
  pkg/domain/validation/checker.go
  pkg/integrations/otel/opentelemetry.go
  pkg/integrations/security/hardening.go
  pkg/intelligence/correlation/types.go
  pkg/interfaces/output/formatters/cli.go
  pkg/interfaces/server/adapters/correlation/adapter.go
  pkg/interfaces/server/adapters/correlation/logger_adapter.go
  pkg/interfaces/server/api/rest.go
  pkg/interfaces/server/server.go
  tools/architecture/main.go
  tools/coverage/main.go
  tools/implementation/main.go
  tools/lib/colors.go
Due: go-fmt, go-vet, golangci-lint, gosec

no need for docker-compose
  docker-compose.build.yml
Due: none

feat: implement complete gRPC/REST API foundation
  Makefile
  cmd/tapio-gateway/main.go
  proto/README.md
  proto/buf.gen.yaml
  proto/buf.lock
  proto/buf.yaml
  proto/events.proto
  proto/gateway.yaml
  proto/gen/openapiv2/tapio.swagger.json
  proto/opinionated_events.proto
  proto/tapio/v1/collector.proto
  proto/tapio/v1/common.proto
  proto/tapio/v1/correlations.proto
  proto/tapio/v1/events.proto
  proto/tapio/v1/observability.proto
  proto/tapio/v1/tapio.proto
Due: go-fmt, go-vet, golangci-lint, gosec

feat(systemd): add gRPC client for streaming events to Tapio server
  cmd/tapio-gateway/main.go
  pkg/collectors/journald/collector.go
  pkg/collectors/systemd/cmd/collector/main.go
  pkg/collectors/systemd/internal/grpc_client.go
  pkg/collectors/systemd/internal/grpc_client_test.go
  pkg/interfaces/server/grpc/collector_helpers.go
  pkg/interfaces/server/grpc/collector_service.go
  pkg/interfaces/server/grpc/conversions.go
  pkg/interfaces/server/grpc/tapio_service.go
  scripts/generate-proto.sh
Due: go-fmt, go-vet, golangci-lint, gosec

fix: replace fmt.Printf with log.Printf and fix deprecated strings.Title
  go.mod
  go.sum
  pkg/collectors/systemd/cmd/collector/main.go
  pkg/collectors/systemd/internal/grpc_client.go
  pkg/collectors/systemd/internal/grpc_client_test.go
  pkg/interfaces/server/grpc/collector_service.go
  proto/buf.gen.yaml
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

feat: implement complete gRPC/REST API foundation with TapioService and CollectorService
  pkg/domain/types.go
  pkg/intelligence/correlation/grpc_types.go
  pkg/interfaces/server/grpc/collector_helpers.go
  pkg/interfaces/server/grpc/collector_service.go
  pkg/interfaces/server/grpc/conversions.go
  pkg/interfaces/server/grpc/tapio_service.go
Due: go-fmt, go-vet, golangci-lint, gosec

chore: remove broken Prometheus integration and add missing dependencies
  go.mod
  go.sum
  pkg/integrations/prometheus/.gitignore
  pkg/integrations/prometheus/README.md
  pkg/integrations/prometheus/core/errors.go
  pkg/integrations/prometheus/core/interfaces.go
  pkg/integrations/prometheus/core/types.go
  pkg/integrations/prometheus/darwin/implementation.go
  pkg/integrations/prometheus/linux/implementation.go
  pkg/integrations/prometheus/stub/implementation.go
  pkg/integrations/prometheus/windows/implementation.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

fix: resolve domain validator interface reference
  pkg/domain/validation/checker.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: implement complete ObservabilityService with real storage backends
  pkg/interfaces/server/grpc/README.md
  pkg/interfaces/server/grpc/observability_factory.go
  pkg/interfaces/server/grpc/observability_service.go
  pkg/interfaces/server/grpc/observability_stores.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: implement dual-path eBPF collector with semantic correlation
  pkg/collectors/ebpf/enricher.go
  pkg/collectors/ebpf/example_main.go
  pkg/collectors/ebpf/examples/basic/main.go
  pkg/collectors/ebpf/filter.go
  pkg/collectors/ebpf/internal/processor.go
  pkg/collectors/ebpf/processor.go
  pkg/collectors/ebpf/raw_event_formatter.go
  pkg/collectors/ebpf/simple_test.go
  pkg/collectors/ebpf/tapio_client.go
  pkg/collectors/ebpf/types.go
  pkg/collectors/ebpf/types_test.go
  pkg/interfaces/server/grpc/event_factory.go
  pkg/interfaces/server/grpc/event_helpers.go
  pkg/interfaces/server/grpc/event_service.go
  pkg/interfaces/server/grpc/event_store_wrapper.go
Due: go-fmt, go-vet, golangci-lint, gosec

chore: remove broken prometheus plugin to fix build
  cmd/plugins/tapio-prometheus/main.go
  cmd/tapio-gui/api.go
  cmd/tapio-gui/app.go
  cmd/tapio-gui/frontend/src/App.vue
  cmd/tapio-gui/otel.go
  pkg/interfaces/server/grpc/correlation_factory.go
  pkg/interfaces/server/grpc/correlation_helpers.go
  pkg/interfaces/server/grpc/correlation_service.go
  pkg/interfaces/server/grpc/event_factory.go
  pkg/interfaces/server/grpc/event_helpers.go
  pkg/interfaces/server/grpc/event_service.go
  pkg/interfaces/server/grpc/event_store_wrapper.go
  pkg/interfaces/server/grpc/simple_event_store.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: add production-ready gRPC middleware and server utilities
  pkg/domain/types.go
  pkg/interfaces/server/grpc/correlation_factory.go
Due: go-fmt, go-vet, golangci-lint, gosec

Feat/grpc rest middleware server utils (#98)
  pkg/interfaces/server/grpc/correlation_factory.go
Due: go-fmt, go-vet, golangci-lint, gosec

docs: add comprehensive eBPF collector documentation
  docs/collectors/ebpf.md
  pkg/collectors/ebpf/README.md
Due: none

docs: add comprehensive eBPF collector documentation (#99)
  docs/collectors/ebpf.md
  pkg/collectors/ebpf/README.md
Due: none

feat: implement UnifiedEvent structure and update analytics engine
  cmd/tapio-collector/Dockerfile
  cmd/tapio-gui/frontend/src/App.vue
  cmd/tapio-server/Dockerfile
  pkg/analytics/README.md
  pkg/analytics/engine/analytics_engine.go
  pkg/analytics/engine/confidence_scorer.go
  pkg/analytics/engine/impact_assessment.go
  pkg/analytics/engine/realtime_processor.go
  pkg/analytics/engine/stages.go
  pkg/collectors/k8s/cmd/collector/main.go
  pkg/collectors/k8s/collector_test.go
  pkg/collectors/k8s/internal/processor.go
  pkg/collectors/k8s/internal/processor_test.go
  pkg/domain/types.go
  pkg/domain/unified_event.go
  pkg/interfaces/server/grpc/correlation_service.go
Due: go-fmt, go-vet, golangci-lint, gosec

docs: comprehensive documentation for Tapio vision and architecture
  README.md
  docs/ARCHITECTURE.md
  docs/RATIONALE.md
  docs/UNIFIED_EVENT_DESIGN.md
  docs/collectors/k8s.md
  pkg/collectors/k8s/collector_test.go
  pkg/collectors/k8s/core/interfaces.go
  pkg/collectors/k8s/core/types_test.go
  pkg/collectors/k8s/internal/test_helpers.go
  pkg/collectors/k8s/internal/watcher_simple_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: UnifiedEvent structure for cross-layer observability correlation (#100)
  README.md
  cmd/tapio-collector/Dockerfile
  cmd/tapio-gui/frontend/src/App.vue
  cmd/tapio-server/Dockerfile
  docs/ARCHITECTURE.md
  docs/RATIONALE.md
  docs/UNIFIED_EVENT_DESIGN.md
  docs/collectors/k8s.md
  pkg/analytics/README.md
  pkg/analytics/engine/analytics_engine.go
  pkg/analytics/engine/confidence_scorer.go
  pkg/analytics/engine/impact_assessment.go
  pkg/analytics/engine/realtime_processor.go
  pkg/analytics/engine/stages.go
  pkg/collectors/k8s/cmd/collector/main.go
  pkg/collectors/k8s/collector_test.go
  pkg/collectors/k8s/core/interfaces.go
  pkg/collectors/k8s/core/types_test.go
  pkg/collectors/k8s/internal/processor.go
  pkg/collectors/k8s/internal/processor_test.go
  pkg/collectors/k8s/internal/test_helpers.go
  pkg/collectors/k8s/internal/watcher_simple_test.go
  pkg/domain/types.go
  pkg/domain/unified_event.go
  pkg/interfaces/server/grpc/correlation_service.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: implement UnifiedEvent structure and update correlation engine
  pkg/domain/types.go
  pkg/domain/unified_event.go
  pkg/intelligence/correlation/finding.go
  pkg/intelligence/correlation/semantic_correlation_engine.go
  pkg/intelligence/correlation/semantic_otel_tracer.go
Due: go-fmt, go-vet, golangci-lint, gosec
