Repository yairfalse/tapio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

go-fmt:
  name: Format Go code
  entry: make fmt
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Tidy Go modules
  entry: go mod tidy
  language: system
  pass_filenames: false

go-vet:
  name: Go vet
  entry: go vet
  language: system
  args:
  - ./...
  pass_filenames: false

golangci-lint:
  name: Run golangci-lint
  entry: golangci-lint run
  language: system
  args:
  - --timeout=5m
  - --fix
  pass_filenames: false

gosec:
  name: Security scan with gosec
  entry: gosec
  language: system
  args:
  - -nosec-tag=notsafe
  - ./...
  pass_filenames: false

feat: implement UnifiedEvent structure and update correlation engine (#101)
  pkg/domain/types.go
  pkg/intelligence/correlation/finding.go
  pkg/intelligence/correlation/semantic_correlation_engine.go
  pkg/intelligence/correlation/semantic_otel_tracer.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(gui): complete UI redesign with modern, minimal aesthetic
  cmd/tapio-gui/UI_REDESIGN_DOCUMENTATION.md
  cmd/tapio-gui/ULTRA_MODERN_UI.md
  cmd/tapio-gui/WHAT_YOU_SEE_NOW.md
  cmd/tapio-gui/frontend/package.json.md5
  cmd/tapio-gui/frontend/src/components/AdvancedMetrics.vue
  cmd/tapio-gui/frontend/src/components/ModernHeader.vue
  cmd/tapio-gui/frontend/src/components/ModernTopology.vue
  cmd/tapio-gui/frontend/src/components/ProfessionalDashboard.vue
  cmd/tapio-gui/frontend/src/components/UltraModernDashboard.vue
  cmd/tapio-gui/frontend/wailsjs/go/main/App.d.ts
  cmd/tapio-gui/frontend/wailsjs/go/main/App.js
  cmd/tapio-gui/frontend/wailsjs/go/models.ts
Due: none

feat: refactor K8s collector with production-ready implementation
  pkg/collectors/k8s/collector_test.go
  pkg/collectors/k8s/internal/processor_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat(gui): Complete UI redesign with modern, minimal aesthetic (#102)
  cmd/tapio-gui/UI_REDESIGN_DOCUMENTATION.md
  cmd/tapio-gui/ULTRA_MODERN_UI.md
  cmd/tapio-gui/WHAT_YOU_SEE_NOW.md
  cmd/tapio-gui/frontend/package.json.md5
  cmd/tapio-gui/frontend/src/components/AdvancedMetrics.vue
  cmd/tapio-gui/frontend/src/components/ModernHeader.vue
  cmd/tapio-gui/frontend/src/components/ModernTopology.vue
  cmd/tapio-gui/frontend/src/components/ProfessionalDashboard.vue
  cmd/tapio-gui/frontend/src/components/UltraModernDashboard.vue
  cmd/tapio-gui/frontend/wailsjs/go/main/App.d.ts
  cmd/tapio-gui/frontend/wailsjs/go/main/App.js
  cmd/tapio-gui/frontend/wailsjs/go/models.ts
  pkg/collectors/k8s/collector_test.go
  pkg/collectors/k8s/internal/processor_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: refactor systemd collector with production-ready implementation
  docs/PERFORMANCE_COMPONENTS.md
  docs/collectors/systemd.md
  pkg/analytics/engine/analytics_engine.go
  pkg/analytics/engine/impact_assessment.go
  pkg/analytics/engine/stages.go
  pkg/collectors/k8s/collector_test.go
  pkg/collectors/k8s/core/types_test.go
  pkg/collectors/k8s/internal/processor_test.go
  pkg/collectors/k8s/internal/test_helpers.go
  pkg/collectors/k8s/internal/watcher_simple_test.go
  pkg/collectors/systemd/collector_test.go
  pkg/collectors/systemd/core/interfaces.go
  pkg/collectors/systemd/core/types_test.go
  pkg/collectors/systemd/internal/processor.go
  pkg/collectors/systemd/internal/processor_test.go
  pkg/collectors/systemd/internal/test_helpers.go
  pkg/domain/event_converter.go
  pkg/interfaces/server/grpc/collector_service.go
  pkg/interfaces/server/grpc/conversions.go
  pkg/interfaces/server/grpc/correlation_factory.go
  pkg/interfaces/server/grpc/correlation_helpers.go
  pkg/interfaces/server/grpc/correlation_service.go
  pkg/interfaces/server/grpc/event_helpers.go
  pkg/performance/README.md
  pkg/performance/event_buffer.go
  pkg/performance/example_integration.go
  pkg/performance/integration_example.go
  pkg/performance/integration_test.go
  pkg/performance/object_pool.go
  pkg/performance/percpu_buffer.go
  pkg/performance/percpu_buffer_test.go
  pkg/performance/percpu_event_buffer.go
  pkg/performance/ring_buffer.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: refactor systemd collector with production-ready implementation (#103)
  docs/PERFORMANCE_COMPONENTS.md
  docs/collectors/systemd.md
  pkg/analytics/engine/analytics_engine.go
  pkg/analytics/engine/impact_assessment.go
  pkg/analytics/engine/stages.go
  pkg/collectors/k8s/collector_test.go
  pkg/collectors/k8s/core/types_test.go
  pkg/collectors/k8s/internal/processor_test.go
  pkg/collectors/k8s/internal/test_helpers.go
  pkg/collectors/k8s/internal/watcher_simple_test.go
  pkg/collectors/systemd/collector_test.go
  pkg/collectors/systemd/core/interfaces.go
  pkg/collectors/systemd/core/types_test.go
  pkg/collectors/systemd/internal/processor.go
  pkg/collectors/systemd/internal/processor_test.go
  pkg/collectors/systemd/internal/test_helpers.go
  pkg/domain/event_converter.go
  pkg/interfaces/server/grpc/collector_service.go
  pkg/interfaces/server/grpc/conversions.go
  pkg/interfaces/server/grpc/correlation_factory.go
  pkg/interfaces/server/grpc/correlation_helpers.go
  pkg/interfaces/server/grpc/correlation_service.go
  pkg/interfaces/server/grpc/event_helpers.go
  pkg/performance/README.md
  pkg/performance/event_buffer.go
  pkg/performance/example_integration.go
  pkg/performance/integration_example.go
  pkg/performance/integration_test.go
  pkg/performance/object_pool.go
  pkg/performance/percpu_buffer.go
  pkg/performance/percpu_buffer_test.go
  pkg/performance/percpu_event_buffer.go
  pkg/performance/ring_buffer.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: implement CNI collector with UnifiedEvent architecture
  docs/collectors/cni.md
  go.mod
  go.sum
  pkg/collectors/cni/cni.go
  pkg/collectors/cni/core/interfaces.go
  pkg/collectors/cni/core/types.go
  pkg/collectors/cni/internal/collector.go
  pkg/collectors/cni/internal/collector_test.go
  pkg/collectors/cni/internal/monitors.go
  pkg/collectors/cni/internal/monitors_test.go
  pkg/collectors/cni/internal/processor.go
  pkg/collectors/cni/internal/processor_test.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

feat: complete UnifiedEvent integration for gRPC services
  pkg/interfaces/server/grpc/correlation_helpers.go
  pkg/interfaces/server/grpc/event_helpers.go
  pkg/interfaces/server/grpc/server_utils.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: format systemd collector test file
  pkg/collectors/systemd/collector_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

docs: rewrite README to be humble and professional
  README.md
Due: none

feat: CNI collector with UnifiedEvent architecture (#104)
  README.md
  docs/collectors/cni.md
  go.mod
  go.sum
  pkg/collectors/cni/cni.go
  pkg/collectors/cni/core/interfaces.go
  pkg/collectors/cni/core/types.go
  pkg/collectors/cni/internal/collector.go
  pkg/collectors/cni/internal/collector_test.go
  pkg/collectors/cni/internal/monitors.go
  pkg/collectors/cni/internal/monitors_test.go
  pkg/collectors/cni/internal/processor.go
  pkg/collectors/cni/internal/processor_test.go
  pkg/collectors/systemd/collector_test.go
  pkg/interfaces/server/grpc/correlation_helpers.go
  pkg/interfaces/server/grpc/event_helpers.go
  pkg/interfaces/server/grpc/server_utils.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

Update README.md
  README.md
Due: none

Update README.md (#105)
  README.md
Due: none

remove: eliminate all broken CLI code
  Makefile
  README.md
  cmd/tapio-cli/check/check.go
  cmd/tapio-cli/fix/fix.go
  cmd/tapio-cli/main.go
  cmd/tapio-cli/root/root.go
  cmd/tapio-cli/version.go
  cmd/tapio-gateway/main.go
  pkg/interfaces/README.md
Due: go-fmt, go-vet, golangci-lint, gosec

docs: comprehensive K8s collector UnifiedEvent documentation
  pkg/collectors/k8s/README.md
  pkg/collectors/k8s/UNIFIED_EVENT_CHANGES.md
Due: none

feat(cni): implement UnifiedEvent architecture with semantic correlation
  pkg/collectors/cni/internal/processor.go
  pkg/collectors/cni/internal/processor_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

chore: format code after merge
  go.mod
  go.sum
  pkg/collectors/k8s/internal/processor.go
  pkg/collectors/systemd/internal/processor.go
  pkg/interfaces/server/grpc/event_store_wrapper.go
Due: go-fmt, go-mod-tidy, go-vet, golangci-lint, gosec

Update systemd processor to UnifiedEvent architecture
  pkg/collectors/systemd/core/interfaces.go
  pkg/collectors/systemd/internal/processor.go
  pkg/collectors/systemd/internal/processor_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

Fix systemd collector to use UnifiedEvent format
  pkg/collectors/systemd/core/interfaces.go
  pkg/collectors/systemd/internal/collector.go
  pkg/collectors/systemd/internal/processor.go
Due: go-fmt, go-vet, golangci-lint, gosec

Complete systemd collector UnifiedEvent implementation
  pkg/collectors/systemd/internal/collector.go
  pkg/collectors/systemd/internal/processor_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

Fix grpc client test after proto enum changes
  pkg/collectors/systemd/internal/grpc_client_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: systemd processor using non-existent System field
  pkg/collectors/systemd/cmd/collector/main.go
  pkg/collectors/systemd/internal/processor.go
Due: go-fmt, go-vet, golangci-lint, gosec

fix: systemd processor using non-existent System field (#109)
  pkg/collectors/systemd/cmd/collector/main.go
  pkg/collectors/systemd/internal/processor.go
Due: go-fmt, go-vet, golangci-lint, gosec

cleanup: remove deleted events package
  pkg/events/events.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: add distributed tracing support to CNI collector
  pkg/collectors/cni/internal/processor.go
  pkg/collectors/cni/internal/processor_test.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: add distributed tracing support to CNI collector (#110)
  pkg/collectors/cni/internal/processor.go
  pkg/collectors/cni/internal/processor_test.go
  pkg/events/events.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: enhance systemd collector with service correlation
  pkg/collectors/systemd/internal/processor.go
Due: go-fmt, go-vet, golangci-lint, gosec

feat: enhance systemd collector with service correlation (#111)
  pkg/collectors/systemd/internal/processor.go
Due: go-fmt, go-vet, golangci-lint, gosec

Path conditions:
  go-fmt: any of: \.go$, but not: (?x)^(
  vendor/|
  \.git/|
  bin/|
  dist/|
  build/|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  go-mod-tidy: any of: go\.(mod|sum)$, but not: (?x)^(
  vendor/|
  \.git/|
  bin/|
  dist/|
  build/|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  go-vet: any of: \.go$, but not: (?x)^(
  vendor/|
  \.git/|
  bin/|
  dist/|
  build/|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  golangci-lint: any of: \.go$, but not: (?x)^(
  vendor/|
  \.git/|
  bin/|
  dist/|
  build/|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  gosec: any of: \.go$, but not: (?x)^(
  vendor/|
  \.git/|
  bin/|
  dist/|
  build/|
  .*\.pb\.go$|
  .*_generated\.go$
)$
